<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Icube\Shanti\Block\Hello" type="Icube\Shanti\Block\Override\HelloOverride" />
    <preference for="Magento\Customer\Controller\Account\LoginPost"  type="Icube\Shanti\Controller\Override\Account\LoginPost"/>
</config>