<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Icube\Exercise\Block\HelloBlock" type="Icube\Exercise\Block\Override\HelloBlock" />
	<!-- <preference for="Magento\Customer\Controller\Account\LoginPost" type="Icube\Magento2Module\Controller\Rewrite\Customer\Account\Login" /> -->
</config>